@layer utilities {
    @responsive {
        .home-header {
            background-image: url("/assests/home-header.svg");
            background-position: right 3rem top;
            background-size: cover;
            @apply bg-no-repeat;
        }
    }
}
.home {
    & > * {
        @apply py-10;

        &:nth-child(odd) {
            @apply bg-black bg-opacity-40;
        }
    }
    &__header {
        @apply px-3 sm:px-5 md:px-10 lg:px-20;

        @apply flex flex-col justify-center;

        @apply min-h-[80vh];

        @apply md:home-header;

        & > * {
            @apply max-w-lg;
        }

        &-para {
            @apply mt-5 text-white-primary text-opacity-75 text-left;
        }

        &-fig {
            @apply max-w-xs ml-auto md:ml-10 md:mr-auto;
        }
    }

    &__features {
        @apply pb-10 pt-10;

        &-header {
            @apply mb-10;
        }

        &-lists {
            @apply mt-2 sm:flex sm:items-start sm:justify-around sm:mx-auto sm:w-full sm:max-w-6xl;
        }
        &-list {
            @apply max-w-xs mx-auto text-center mb-7;
            @apply w-full;

            &:first-child {
                figure {
                    background-image: url("/assests/available.svg");
                    /*
                    background-image: url("/assests/svg/available.svg");
                    */
                }
            }
            &:nth-child(2) {
                figure {
                    background-image: url("/assests/secured.svg");
                    /*
                    background-image: url("/assests/svg/secured.svg");
                    */
                }
            }
            &:nth-child(3) {
                figure {
                    background-image: url("/assests/organized.svg");
                    /*
                    background-image: url("/assests/svg/organized.svg");
                    */
                }
            }

            p {
                @apply text-opacity-80 mt-3;
            }
        }
        &-fig {
            @apply w-56 h-56 mx-auto bg-no-repeat bg-cover bg-center mb-8;
        }
    }

    &__section {
        &-cont {
            @apply w-10/12 mx-auto max-w-7xl;
        }
        &-head {
            @apply max-w-xs text-center mx-auto;
        }
    }

    &__stats {
        @apply px-3 mt-3 mb-6 grid grid-cols-2 gap-y-5 max-w-3xl mx-auto;
        &-cont {
            /*
            @apply pt-36 pb-20;
            clip-path: polygon(0 25%, 100% 0, 100% 75%, 0% 100%);
            */
        }

        &-list {
            @apply max-w-sm w-full text-center;
            h4 {
                @apply font-light text-white-primary text-opacity-70 mb-1 capitalize;
            }
            p {
                @apply font-semibold text-xl;
            }
        }
    }

    &__coins {
        /*
        @apply pt-10;
        */
    }

    &__news {
        /*
        @apply pt-32 pb-28;
        clip-path: polygon(0 3%, 100% 0, 100% 97%, 0% 100%);
        */
    }

    &__nfts {
        /*
        @apply pt-10;
        */
    }

    &__exchanges {
        /*
        @apply pt-24;
        clip-path: polygon(0 5%, 100% 0, 100% 100%, 0% 100%);
        */
    }
}
